* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.container {
  /* padding-inline: 1.5rem; */
  /* background-image: url(images/bg.jpg); */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* background-size: 100% 100%; */
}

section,
footer {
  padding-inline: 1.5rem;
}

.intro {
}

.intro-section {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* background-color: #00324b; */
  padding-inline: 0px;
  background-color: black;
}

.intro-section__content {
  position: absolute;
  top: 30%;
  left: 40px;
  z-index: 100;
}

.swiper {
  max-height: 100%;
  width: 100%;
}

.swiper img {
  height: 600px;
  width: 100%;
  opacity: 0.5;
  /* object-fit: cover; */
}

.intro-section p {
  color: white;
}

.section-heading {
  font-size: 64px;
  color: #ac252b;
  margin-top: 1rem;
  text-align: center;
}

.intro-section p {
  max-width: 800px;
  font-size: 1.3rem;
  padding-top: 1rem;
  line-height: 32px;
}

.learnbtn {
  background-color: #db1a24;
  outline: none;
  border: none;
  margin-top: 2rem;
  border-radius: 10px;
  padding-inline: 1rem;
  padding-block: 12px;
  color: white;
  align-self: flex-start;
  display: inline-block;
}

.trainings-section {
  /* border-top: 1px solid #ac252b; */
  /* background-color: #ac252b; */
  margin-top: 3rem;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 44% 55%;
  gap: 10px;
  align-items: center;
  /* margin-inline: 40px; */
  /* background-color: #002a46; */
  /* background-color: #4080aa; */
  background-color: white;
  padding-inline: 2.5rem;
  /* background-image: none; */
}

.trainings-section .section-heading {
  font-size: 40px;
  justify-self: flex-start;
  display: flex;
  align-items: center;
}

.trainings-section .section-heading img {
  filter: invert(19%) sepia(42%) saturate(4778%) hue-rotate(342deg)
    brightness(89%) contrast(91%);
  width: 50px;
  aspect-ratio: 1;
  margin-top: 8px;
}

#second-splide {
  /* height: 600px; */
  /* width: auto; */
  max-width: 100%;
  /* margin: 0px auto; */
  /* overflow: visible; */
  padding-block: 4rem;
}

#second-splide .splide__slide img {
  height: 140px;
  width: 100%;
  padding-inline: 0.5rem;
}

#second-splide .splide__slide {
  position: relative;
}

#second-splide .splide__slide a {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  left: 0px;
  font-size: 32px;
  color: #ac252b;
}

#second-splide .splide__pagination {
  bottom: 2em !important;
}

#second-splide .splide__pagination__page:active,
#second-splide .splide__pagination__page:hover,
#second-splide .splide__pagination__page.is-active {
  background-color: #ac252b;
}

.initiatives-section {
  display: flex;
  gap: 60px;
  flex-direction: column;
  width: 100%;
  margin-inline: auto;
  background-color: #f8f9fa;
  background-image: url(/images/bg8.jpg) !important;
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;

  margin-top: 15rem;
  background-image: none;
  padding-bottom: 8rem;
  margin-bottom: 2px;
  padding-inline: 3rem;
}

.initiatives-section .section-heading {
  color: white;
  font-size: 45px;
  color: #ac252b;
  padding-block: 10px;
  background-color: #f1f1f1;
  background-color: #f8f7f3;

  /* background-color: #ac252b; */
  transform: translateY(-60%);
}

.initiatives-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.initiative {
  display: grid;
  grid-template-rows: 320px auto;
  /* justify-content: space-between; */
  height: 100%;
  /* height: auto; */
  max-width: 700px;
  background-color: white;
  gap: 40px;

  margin-inline: auto;
  padding: 2rem;
  box-shadow: 0px 4px 8px #000;
}

.initiative img {
  height: 320px;
  width: 100%;
  align-self: flex-start;
}

.initiative p {
  font-size: 14px;
  line-height: 32px;
  margin-top: 1rem;
}

.initiative p a {
  color: #f0020e;
}

@media (max-width: 1360px) {
  .initiatives-list {
    grid-template-columns: initial;
    gap: 40px;
  }
}

@media (max-width: 864px) {
  .intro-section {
    /* padding-top: 48px; */
  }

  .intro-section p {
    font-size: 14px;
    padding-right: 1rem;
  }

  .trainings-section {
    grid-template-columns: initial;
    /* max-width: 100%; */
    justify-content: center;
  }

  .trainings-section .section-heading {
    font-size: 26px;
    justify-self: center;
  }

  #second-splide {
    max-width: 90%;
    margin-inline: auto;
    padding-block: 2rem;
  }

  #second-splide .splide__pagination {
    bottom: 0px !important;
  }

  .section-heading {
    font-size: 32px;
  }

  .trainings-section .section-heading img {
    display: none;
  }

  .initiatives-section {
    gap: 40px;
    padding-inline: 1.5rem;
  }

  .initiatives-list {
    grid-template-columns: initial;
    gap: 40px;
  }

  .initiative {
    /* grid-template-columns: none; */
    grid-template-rows: 200px auto;
    height: auto;
  }

  .initiative h1 {
    font-size: 20px;
  }

  .initiative-1,
  .initiative-2 {
    padding-bottom: 40px;
  }

  .initiative img {
    height: 200px;
  }
}

@media (max-width: 520px) {
  .mobile-hidden {
    display: none;
  }

  .initiative p {
    font-size: 14px;
  }

  .initiative-1 h1 {
    font-size: 16px;
  }
}
