* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  margin-bottom: 200px;
}

.intro-section {
  /* background-image: url(/images/bg5.jpg);
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat; */
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

#first-splide {
  max-height: 100%;
  width: 100%;
}

#first-splide img {
  height: 230px;
  width: 100vw;
  filter: blur(0.1rem);
}

.initiative-intro {
  position: absolute;
  text-align: center;
  width: 80%;
  left: 0px;
  right: 0px;
  margin-inline: auto;
}

.initiative-intro h1 {
  font-size: 52px;
}

.initiative-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-inline: 1.5rem;
  margin-top: 40px;
}

.card {
  box-shadow: 2px 4px 10px hsl(0, 0%, 0%, 0.4);
  border-left: 2px solid #ac282b;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}

.initiative-content > div {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.initiative-content > div > h2 {
  align-self: center;
  font-size: 48px;
  color: #ac282b;
  margin-bottom: 8px;
}

.initiative-content > div p {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 16px;
  line-height: 26px;
}

.initiative-content .project-partnership h2 {
  font-size: 40px;
  text-align: center;
}

.offers-content {
  display: flex;
  flex-direction: column;
}

.offers-content span {
  font-weight: bold;
  color: #ac282b;
}

.offers-content p {
  display: initial !important;
  padding-block: 0.6rem;
}

.overview-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 900px;
  margin-inline: auto;
  margin-block: 2rem;
  gap: 8px;
}

.overview-images img {
  width: 100%;
  height: 280px;
}

.conclusion {
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 864px) {
  .initiative-intro h1 {
    font-size: 26px;
    text-align: center;
  }

  .initiative-content > div > h2 {
    font-size: 24px;
  }

  .initiative-content .project-partnership h2 {
    font-size: 20px;
  }

  .initiative-content > div p {
    font-size: 14px;
    line-height: 20px;
  }

  .overview-images img {
    height: 150px;
  }

  .conclusion {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .conclusion {
    font-size: 12px;
  }
}
