* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

main {
  margin-bottom: 220px;
}

.gallery-wrapper {
  display: flex;
  flex-direction: column;
  margin-block: 60px;
}

.gallery-wrapper h1 {
  align-self: center;
  font-size: 48px;
  color: #ac282b;
  margin-bottom: 1.5rem;
}

.intro-section {
  /* background-image: url(/images/bg5.jpg); */
  /* background-position: center; */
  /* background-size: 100% 100%; */
  /* background-repeat: no-repeat; */
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#first-splide {
  max-height: 100%;
  width: 100%;
}

#first-splide img {
  height: 230px;
  width: 100vw;
  filter: blur(0.1rem);
}

.gallery-intro {
  position: absolute;
  text-align: center;
  width: 80%;
  left: 0px;
  right: 0px;
  margin-inline: auto;
}

.gallery-list {
  padding-inline: 1.5rem;
}

.gallery-intro h1 {
  font-size: 60px;
  color: white;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.gallery-images img {
  width: 100%;
  height: 220px;
}

@media (max-width: 864px) {
  .gallery-intro h1 {
    font-size: 48px;
    color: white;
  }

  .gallery-wrapper h1 {
    font-size: 32px;
  }

  .gallery-images {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-images img {
    height: 200px;
  }
}
