* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.intro-section {
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

#first-splide {
  max-height: 100%;
  width: 100%;
}

#first-splide img {
  height: 230px;
  width: 100vw;
  filter: blur(0.1rem);
}

.contact-intro {
  position: absolute;
  text-align: center;
  width: 80%;
  left: 0px;
  right: 0px;
  margin-inline: auto;
}

.contact-intro h1 {
  font-size: 60px;
}

.contact-content {
  margin-block: 120px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr;
  /* box-shadow: 2px 4px 10px hsl(0, 0%, 0%, 0.5); */
  padding-inline: 2.5rem;
  gap: 5em;
}

.form-section {
  /* padding-top: 40px; */
  max-width: 750px;
}

.form-section h1 {
  font-size: 54px;
  /* max-width: 750px; */
  margin-bottom: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  margin-top: 20px;
}

.field {
  display: grid;
  grid-template-columns: 120px 320px;
  grid-template-columns: 2fr 5fr;
  /* align-items: center; */
}

input,
textarea {
  outline: none;
  border: 1px solid #ac252b;
  padding-inline: 10px;
  border-radius: 3px;
}

input {
  height: 32px;
}

textarea {
  padding-block: 10px;
}

.form-section button {
  height: 40px;
  background-color: #a70100;
  border: none;
  outline: none;
  color: #f8f7fa;
  font-size: 20px;
  cursor: pointer;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-details .illustration {
  width: 100%;
  /* aspect-ratio: 1; */
}

.icon {
  width: 40px;
  height: 40px;
}

.details-list > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 1100px) {
  .contact-intro h1 {
    font-size: 45px;
  }

  .contact-content {
    margin-block: 120px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    /* box-shadow: 2px 4px 10px hsl(0, 0%, 0%, 0.5); */
    padding-inline: 2.5rem;
    gap: 4em;
  }

  .form-section h1 {
    font-size: 40px;
    /* max-width: 750px;
        margin-bottom: 2rem; */
  }

  /* form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        margin-top: 20px;
      } */

  .field {
    display: grid;

    /* align-items: center; */
  }
}

@media (max-width: 1000px) {
  .contact-content {
    grid-template-columns: initial;
    max-width: 750px;
    margin-inline: auto;
  }

  .illustration {
    display: none;
  }

  .form-section {
    max-width: none;
  }

  .form-section h1 {
    font-size: 32px;
    /* max-width: 750px;
        margin-bottom: 2rem; */
  }
}
