* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat";
  box-sizing: border-box;
}

main {
  margin-bottom: 200px;
}

.intro-section {
  /* background-image: url(/images/bg5.jpg); */
  /* background-position: center; */
  /* background-size: 100% 100%; */
  /* background-repeat: no-repeat; */
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

#first-splide {
  max-height: 100%;
  width: 100%;
}

#first-splide img {
  height: 230px;
  width: 100vw;
  filter: blur(0.1rem);
}

.about-intro {
  position: absolute;
  text-align: center;
  width: 80%;
  left: 0px;
  right: 0px;
  margin-inline: auto;
}

.about-intro h1 {
  font-size: 60px;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-inline: 1.5rem;
  margin-top: 40px;
}

.about-content > div {
  /* border: 2px solid #ac282b; */
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-radius: 1rem;
  box-shadow: 2px 4px 10px hsl(0, 0%, 0%, 0.4);
}

.about-content div:nth-child(even) {
  /* background-color: #f8f7f3; */
}

.about-content > div > h2 {
  align-self: center;
  font-size: 48px;
  color: #ac282b;
  margin-bottom: 8px;
}

.about-content > div > p {
  /* padding-inline-start: 1rem; */
  /* border-left: 4px solid #ac282b; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 18px;
  line-height: 24px;
}

.about-us {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (max-width: 864px) {
  .about-intro h1 {
    font-size: 45px;
  }

  .about-content > div > h2 {
    font-size: 32px;
  }

  .about-content > div > p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 640px) {
  .about-content {
    grid-template-columns: initial;
  }

  .about-us {
    grid-column-start: initial;
    grid-column-end: initial;
  }

  .about-content > div {
    margin-top: 0px;
  }
}
