* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

main {
  margin-bottom: 150px;
  /* background-color: #f8f7f3; */
  /* padding-top: 12rem; */
  display: flex;
  flex-direction: column;
  /* background-color: white; */
}

.intro-section {
  /* background-color: white; */
  /* background-image: url(/images/bg5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  filter: blur(0.4px);
  padding-inline: 20px;
  align-self: center;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 28px; */
  /* padding-top: 15rem; */
  /* padding-bottom: 15rem; */
  height: 230px;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

#first-splide {
  max-height: 100%;
  width: 100%;
}

#first-splide img {
  height: 230px;
  width: 100vw;
  filter: blur(0.1rem);
}

.training-intro {
  position: absolute;
  text-align: center;
  width: 80%;
  left: 0px;
  right: 0px;
  margin-inline: auto;
}

.trainings-list {
  background-color: white;

  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 60px;
  padding-inline: 1rem;
}

.training {
  display: flex;
  gap: 40px;
  flex-direction: column;
  /* grid-template-columns: 2fr 5fr; */
  padding-block: 24px;
  padding-inline: 1.5rem;
  box-shadow: 2px 4px 10px hsl(0, 0%, 0%, 0.4);
}

.training h1 {
  color: #ac252b;
  font-size: 28px;
}

.training:last-of-type {
  border-bottom: none;
}

.training-img {
  /* min-width: 400px; */
  width: 100%;
  height: 250px;
  object-fit: contain;
}

@media (max-width: 1100px) {
  .trainings-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .training h1 {
    font-size: 24px;
  }

  .training p {
    font-size: 16px;
  }
}

@media (max-width: 760px) {
  .trainings-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .training h1 {
    font-size: 20px;
  }
}

@media (max-width: 864px) {
  .training {
    flex-direction: column;
  }

  .training-intro {
    font-size: 14px;
  }

  .training-img {
    max-width: 100%;
    min-width: auto;
    width: 100%;
  }

  .training:nth-child(even) img {
    order: 0;
  }
}

@media (max-width: 400px) {
  .training-intro {
    font-size: 12px;
  }

  .training p {
    font-size: 14px;
  }
}
