footer {
  background-color: #db1a24;
  /* background-color: #6a0809; */
  background-color: #a70100;
  display: flex;
  justify-content: space-around;
  padding-block: 4rem;
  color: #f9f8fa;
  /* margin-top: 40px; */
}

footer a {
  color: #f9f8fa;
}

.initiatives-quicklink {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-info {
  /* padding-block: 24px; */
  display: flex;
  gap: 20px;
  flex-direction: column;
}

@media (max-width: 864px) {
  footer {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }

  .contact-info,
  .initiatives-quicklink {
    align-items: center;
    text-align: center;
  }
}
