a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

header {
  /* background-image: url(images/bg.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: 100% 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem;
  /* background-color: #ffffff; */
  /* background-color: #4080aa; */
  color: black;
  font-size: 1rem;
  /* border-bottom: 1px solid #ac252b; */
  /* background-color: hsl(207, 100%, 98%); */
  background-color: #f8f7f3;
  /* background-color: #ac252b; */
  /* background-color: #00324b; */
}

header a {
  /* color: #ac252b; */
  font-size: 16px;
  /* color: white; */
}

header a:hover,
.dropbtn:hover {
  color: #ac252b;
}

header nav {
  display: flex;
  gap: 1rem;
}

.company-logo img {
  height: 120px;
  aspect-ratio: 1;
}

.dropbtn {
  outline: none;
  border: none;
  background-color: inherit;
  font-size: 1rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  right: 2rem;
  z-index: 1;
  padding-block: 1.5rem;
  padding-inline: 0.8rem;
}

.dropdown-content a {
  margin-block: 4px;
}

.drop-down:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hamburger {
  display: none;
}

@media (max-width: 654px) {
  header nav {
    padding-top: 6rem;
    flex-direction: column;
    background-color: #f8f7f3;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 40%;
    gap: 24px;
    transform: translateX(100%);
    transition: transform 300ms ease-in;
    z-index: 1000;
    /* display: none; */
  }

  header nav[data-visible="true"] {
    transform: translateX(0%);
  }

  header nav a,
  .dropbtn {
    padding-inline-start: 1rem;
    /* padding-block: 0.3rem; */
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;
    position: initial;
    background-color: inherit;
    right: 2rem;
    z-index: 1;
    padding-block: 0rem;
    padding-inline: 0rem;
    gap: 24px;
  }

  .drop-down:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .dropbtn {
    display: none;
  }

  .hamburger {
    display: initial;
    position: absolute;
    right: 24px;
    cursor: pointer;
    z-index: 10000;
  }
}
